<section class="bases-promocion">
  <div class="wrapper">
    <!-- Esta etiqueta se usa para indicar todo el html que debe cubrir el menú -->
    <mat-drawer-container>
      <mat-drawer #drawer mode='over' position="start">
        <!-- Inyectamos el componente partial que muestra el menú izquierdo -->
        <app-left-sidebar (cerrar)="drawer.toggle()"></app-left-sidebar>
      </mat-drawer>
      <!-- Se coloca el header de las vistas -->
      <app-header-app (drawer)="drawer.toggle()"></app-header-app>
      <!-- Sección del body donde se muestra todo el contenido -->
      <div class="body-home">
        <!-- Sección de la imagen inicial y el eslogan -->
        <div class="section-image">
          <img src="/assets/images/header-img.png" class="header-img">
          <div class="line-red-horizontal">
            <span class="text-ducati">Ducati Motor Holding S.p.A. Official Licensed Product</span>
          </div>
          <div class="eslogan {{isMobile()}}">
              <div class="line-color">
                  <div class="vertical-line" style="height: 111px;"></div>
              </div>
              <div class="title-link">
                  <span>Bases de la promoción</span>
              </div>
          </div>
        </div>
        <!-- Sección de imagenes numeradas-->
        <div class="section-bases">
          <div class="num-bases">
            <img src="/assets/images/1-compra-titulo.png" class="compra-1">
            <div class="text-and-image">
                <span class="txt-normal">productos participantes</span>
                <img src="/assets/images/logo-marcas.png" class="logo-mini">
            </div>
            <span class="txt-bold mt-1">en Liverpool/Devlyn</span>
          </div>

          <div class="num-bases">
            <img src="/assets/images/2-registra-titulo.png" class="compra-2">
            <span class="txt-normal">todos tus códigos en el sitio</span>
            <span class="txt-bold">www.acelerayganaconcarrera.com.mx</span>
          </div>

          <!-- TODO:Colocar el contenido faltante de bases de la promocion -->

          <div class="num-bases">
            <img src="/assets/images/3-acumula-titulo.png" class="compra-3">
            <span class="txt-normal">puntos con cada compra y juega por puntos extras</span>
          </div>

          <div class="num-bases">
            <img src="/assets/images/4-gana-titulo.png" class="compra-4">
            <span class="txt-normal">Una <span class="txt-bold">Moto Ducati</span> al finalizar la promoción</span>
          </div>

          <div class="moto-section">
            <img class="moto-img" src="/assets/images/moto.png">
          </div>

          <div class="text-info">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
            inventore laborum porro repudiandae distinctio molestias? Rem
            blanditiis ducimus numquam excepturi iure eaque modi, expedita
            aperiam in fuga repudiandae quisquam adipisci. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Veritatis perferendis dolor
            quibusdam obcaecati assumenda laborum consectetur? Dolor quidem
            ducimus quam ipsa, praesentium eos architecto ullam pariatur
            maiores, facilis sed voluptatum? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Quis perspiciatis ratione magni
            commodi odit, ipsum architecto, repellendus, quaerat omnis optio
            praesentium accusantium consequatur iusto eaque qui vitae quo
            repudiandae labore! Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Quam error accusamus, debitis molestiae,
            voluptatibus quo consectetur ipsam sapiente cupiditate, labore
            obcaecati ratione nobis eligendi recusandae repellat voluptatem
            dolorem inventore aspernatur. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Iste inventore laborum porro
            repudiandae distinctio molestias? Rem blanditiis ducimus numquam
            excepturi iure eaque modi, expedita aperiam in fuga repudiandae
            quisquam adipisci. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Veritatis perferendis dolor quibusdam obcaecati
            assumenda laborum consectetur? Dolor quidem ducimus quam ipsa,
            praesentium eos architecto ullam pariatur maiores, facilis sed
            voluptatum? Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Quis perspiciatis ratione magni commodi odit, ipsum
            architecto, repellendus, quaerat omnis optio praesentium accusantium
            consequatur iusto eaque qui vitae quo repudiandae labore! Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Quam error
            accusamus, debitis molestiae, voluptatibus quo consectetur ipsam
            sapiente cupiditate, labore obcaecati ratione nobis eligendi
            recusandae repellat voluptatem dolorem inventore aspernatur.
            </p>
          </div>
        </div>

        <!-- 6. Footer -->
        <div class="footer">
          <app-footer-app></app-footer-app>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</section>
